In [25]:
import pandas as pd

# Load the spatially joined dataset
df = pd.read_csv("../data/cleaned/grocery_stores_with_community.csv")

# Filter for unclassified stores
unclassified = df[
    (df['IS_REAL_GROCERY'] == False) & 
    (df['IS_JUNK_STORE'] == False)
]

print(f"üïµÔ∏è Unclassified stores: {len(unclassified)}")

# Count unclassified stores by community
unclassified_by_community = unclassified['Community'].value_counts().reset_index()
unclassified_by_community.columns = ['Community', 'UnclassifiedCount']
display(unclassified_by_community.head(10))

# Preview stores in top 3 neighborhoods with unclassified stores
top_areas = unclassified_by_community['Community'].head(3).tolist()

for area in top_areas:
    print(f"\nüß≠ Reviewing: {area}")
    display(
        unclassified[
            unclassified['Community'] == area
        ][['DBA Name', 'Address', 'Zip']]
        .sort_values('DBA Name')
        .head(15)
    )

üïµÔ∏è Unclassified stores: 1522

         Community  UnclassifiedCount
0       WEST RIDGE                 59
1  NEAR NORTH SIDE                 58
2      ALBANY PARK                 55
3        WEST TOWN                 54
4   SOUTH LAWNDALE                 53
5           AUSTIN                 52
6    HUMBOLDT PARK                 50
7             LOOP                 48
8   BELMONT CRAGIN                 42
9   NEAR WEST SIDE                 41

üß≠ Reviewing: WEST RIDGE

                              DBA Name                Address      Zip
4360                     A & J Grocery   6406 N Claremont Ave  60645.0
962                           A-1 Food       2319 W Devon Ave  60659.0
1597                     Aleteia, Inc.       2750 W Devon Ave  60659.0
3066            All The Best Nutrition       3008 W Devon Ave  60659.0
359                        Ameera Food     6415 N Western Ave  60645.0
1671              Anmol Meat & Grocery  2906-2910 W Devon Ave  60659.0
3576                   Anmol Pan House       2504 W Devon Ave  60659.0
358                    Atour Foods Inc   6348 N Claremont Ave  60659.0
3717           Baba Bazar Cash & Carry       2044 W Devon Ave  60659.0
4085            Chicago Meat & Grocers  2122-2124 W Devon Ave  60659.0
3732            Chinese Yan Bian Herbs     5812 N Lincoln Ave  60659.0
2736  Devon & California Grocery Store       2800 W Devon Ave  60659.0
3053              Devon N Leavitt Mart       2150 W Devon Ave  60659.0
1970                      Devon Pantry       3044 W Devon Ave  60659.0
3024                       Devon Store       2144 W Devon Ave  60659.0

üß≠ Reviewing: NEAR NORTH SIDE

                            DBA Name                 Address      Zip
678   1350 Lake Shore Dr. Commissary    1350 N Lake Shore Dr  60610.0
3668       600 N Lakeshore Drivemart     600 N Lake Shore Dr  60611.0
3160  Best Western River North Hotel           125 W Ohio St  60654.0
3470        Blockbuster Video #17393       400 W Division St  60610.0
3944        Chicago Orleans Foodmart       350 W Chicago Ave  60610.0
1651            Divhal Petroleum Inc       735 W Division St  60654.0
3236               Dylan'S Candy Bar  435-445 N Michigan Ave  60611.0
1574                Dylan'S Candybar      663 N Michigan Ave  60611.0
1462               Elephants Etc Inc      875 N Michigan Ave  60611.0
829                    Embassy Gifts           300 E Ohio St  60611.0
2404              Evergreen Foodmart       105 W Division St  60610.0
1409              Garfields Beverage         1437 N Wells St  60610.0
3537                    Gateway News       676 N St Clair St  60611.0
1489                           Getir     413-415 W North Ave  60610.0
1473                       Go Grocer         1325 N Wells St  60610.0

üß≠ Reviewing: ALBANY PARK

                           DBA Name                 Address      Zip
3828               A. P. Convenient     3751 W Lawrence Ave  60625.0
900            Aadhya Grocery Store     3951 W Lawrence Ave  60625.0
3080  Ali Baba Gifts & Grocery Inc.     4215 W Lawrence Ave  60630.0
3252                         B Mart     3756 W Montrose Ave  60618.0
4236              Balkan Flavor Inc     3752 W Montrose Ave  60618.0
3913                  Bharat Bazaar     3900 W Lawrence Ave  60625.0
3791                   Blanz Pantry       4632 N Kedzie Ave  60625.0
4386                      City Mart     3409 W Lawrence Ave  60625.0
3090                    Don De Vida     3543 W Lawrence Ave  60625.0
3824                  Dona Maris #2     3518 W Montrose Ave  60618.0
3042                 Dong Won Herbs     4149 W Lawrence Ave  60630.0
1665       Doordash Essentials, Llc       4455 N Elston Ave  60630.0
3012       Eagle Fruit & Grocery Co  3023-25 W Lawrence Ave  60625.0
971         El Cangrejo Guayaco Llc       4749 N Albany Ave  60625.0
423                  Elgeeb Grocery       4805 N Pulaski Rd  60630.0